.crime-rate-chart-section {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
  color: #525252;
  padding: 30px;
}

.crime-rate-chart-section p {
  margin: 30px 0;
  line-height: 1.5em;
}

.chart-container {
  padding: 30px;
}

.percent-change-top {
  position: absolute;
  top: 10%;
  left: 80%;
  font-size: 18px;
  font-weight: bold;
  color:#00008b;
}
.percent-change-middle {
  position: absolute;
  top: 24%;
  left: 80%;
  font-size: 18px;
  font-weight: bold;
  color:#0099ff;
}
.percent-change-bot {
  position: absolute;
  top: 38%;
  left: 80%;
  font-size: 18px;
  font-weight: bold;
  color:#66ccff;
}

.center-text {
  text-align: center;
}

.blue {
  color: #bee8fd;
}

.red {
  color: #f05a22;
}

.yellow {
  color: #fbd813;
}

.salmon {
  color: #FAAA96;
}

.area-chart {
  height:400px;
}

.line-chart {
  height: 400px;
  width: 100%;
  display: inline-flex;
}

.line-charts {
  width: 66%;
  display: inline-block;
  vertical-align:top;
  border-right: 1px solid #999;
}

.line-charts-container {
  position: relative;
  width: 45%;
  display: inline-flex;
}

.bar-charts {
  width: 33%;
  display: inline-block;
}

.bar-chart {
  height: 235px;
}

.relative-container {
  position: relative;
}