h1{ 
text-align:center;
}
h2{ 
text-align:center;
}
h4{ 
text-align:center;
}
.back{
	float:left;
	display:inline-block;
	position:relative;
	left:5em;
	bottom:2.5em;
}
.next{
	float:right;
	display:inline-block;
	position:relative;
	right:5em;
	bottom:2.5em;
}
p{
	margin:3em;
}
