.cheat {
	position:relative;
	display:inline-block;
    margin: .5em;
    border: .1em solid #ccc;
    width: 80%;
    left:10%;
    float:left;
}
h1 {
    text-decoration: underline;
    font-weight: bold;
}
h3 {
	font-style: italic;
}
