.top-section {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
  color: #525252;
  padding: 30px;
}


.chart-container {
  padding: 30px;
}

.center-text {
  text-align: center;
}

.area-chart {
  height:400px;
}

.prison-charts {
  width: 45%;
  display: inline-block;
  vertical-align:top;
  border-right: 1px solid #999;
}

.line-charts-container {
  position: relative;
  width: 45%;
  display: inline-flex;
}

.probation-charts {
  width: 45%;
  display: inline-block;
}

.column-chart {
  height: 235px;
}

.relative-container {
  position: relative;
}